[Unit]
Description=Gunicorn instance to serve restapi
After=network.target
Requires=mongod.service

[Service]
User=restapi
WorkingDirectory=/home/entrant/restapi
Environment="PATH=/home/entrant/restapi/venv/bin"
Environment="MONGO_DB_NAME=prod"
ExecStart=/home/entrant/restapi/venv/bin/gunicorn -w 4 -b 0.0.0.0:8080 "api:create_app()"

[Install]
WantedBy=multi-user.target